/* Base stuff */
/* Reset */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,300italic,300,500italic,500,400italic,700italic);
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
/* line 2, ../sass/styles/base/_base.scss */
body {
  font-size: 16px;
  color: #595651;
  font-family: 'Ubuntu', sans-serif;
}
@media only screen and (max-width: 767px) {
  /* line 2, ../sass/styles/base/_base.scss */
  body {
    font-size: 14px;
  }
}

/* line 13, ../sass/styles/base/_base.scss */
.main-title {
  background: #e40d14;
}
/* line 16, ../sass/styles/base/_base.scss */
.main-title.left {
  text-align: left;
}
/* line 20, ../sass/styles/base/_base.scss */
.main-title.center {
  text-align: center;
}
/* line 24, ../sass/styles/base/_base.scss */
.main-title.right {
  text-align: right;
}
/* line 28, ../sass/styles/base/_base.scss */
.main-title span {
  display: inline-block;
  background: #fff;
  color: #e40d14;
  text-transform: uppercase;
  padding: 0 30px;
  font-weight: 500;
  line-height: 1.3;
}
@media only screen and (max-width: 767px) {
  /* line 28, ../sass/styles/base/_base.scss */
  .main-title span {
    padding: 0 15px;
  }
}
/* line 42, ../sass/styles/base/_base.scss */
.main-title b {
  font-weight: 700;
}

/* line 47, ../sass/styles/base/_base.scss */
p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.3;
}
@media only screen and (max-width: 479px) {
  /* line 47, ../sass/styles/base/_base.scss */
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* line 58, ../sass/styles/base/_base.scss */
p .bolder {
  font-weight: 700;
}
/* line 62, ../sass/styles/base/_base.scss */
p .upper {
  text-transform: uppercase;
}
/* line 66, ../sass/styles/base/_base.scss */
p .new-line {
  display: block;
}
/* line 70, ../sass/styles/base/_base.scss */
p .red {
  color: #e40d14;
}

/* line 75, ../sass/styles/base/_base.scss */
.btn {
  font-weight: 300;
  border: none;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  background: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
}
/* line 85, ../sass/styles/base/_base.scss */
.btn-58 {
  font-size: 22px;
  padding: 14px 45px 13px;
  background: red;
}
/* line 91, ../sass/styles/base/_base.scss */
.btn-red {
  background: #ca112b;
  color: #fff;
}
/* line 95, ../sass/styles/base/_base.scss */
.btn-red:hover {
  color: #fff;
  background: #b20f26;
}
/* line 101, ../sass/styles/base/_base.scss */
.btn-white {
  background: #fff;
  color: #e40d14;
}
/* line 105, ../sass/styles/base/_base.scss */
.btn-white:hover {
  color: #b20f26;
}

/* line 111, ../sass/styles/base/_base.scss */
.gallery {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 111, ../sass/styles/base/_base.scss */
  .gallery {
    overflow: hidden;
  }
  /* line 117, ../sass/styles/base/_base.scss */
  .gallery img {
    max-width: 100%;
  }
}
/* line 122, ../sass/styles/base/_base.scss */
.gallery img {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 132, ../sass/styles/base/_base.scss */
.main-list_item {
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  padding-left: 25px;
}
/* line 138, ../sass/styles/base/_base.scss */
.main-list_item:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #e40d14;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 152, ../sass/styles/base/_base.scss */
.btn-download {
  width: 365px;
  height: 88px;
  background: url(../img/btn-bg.jpg) no-repeat;
  background-position: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 25px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.3;
  margin-top: 70px;
}
/* line 168, ../sass/styles/base/_base.scss */
.btn-download:hover {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  /* line 152, ../sass/styles/base/_base.scss */
  .btn-download {
    width: 290px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 152, ../sass/styles/base/_base.scss */
  .btn-download {
    width: 100%;
  }
}

/* line 182, ../sass/styles/base/_base.scss */
.container {
  min-width: 320px;
}

/* Pages */
/* line 2, ../sass/styles/pages/_landing.scss */
.logos-group {
  display: inline-block;
  vertical-align: middle;
}
/* line 6, ../sass/styles/pages/_landing.scss */
.logos-group img {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 6, ../sass/styles/pages/_landing.scss */
  .logos-group img {
    width: auto;
  }
}
/* line 16, ../sass/styles/pages/_landing.scss */
.logos-group .about-partners {
  font-size: 10px;
  margin-top: 10px;
  margin-right: 15px;
  color: #000;
  font-weight: 400;
  text-align: right;
}

/* line 25, ../sass/styles/pages/_landing.scss */
.header-section {
  background: url(../img/header-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 30px 0 35px;
  font-weight: 300;
  color: #fff;
  font-family: Helvetica;
}
/* line 34, ../sass/styles/pages/_landing.scss */
.header-section .header-medium_text {
  font-size: 30px;
  text-transform: uppercase;
}
@media only screen and (max-width: 639px) {
  /* line 34, ../sass/styles/pages/_landing.scss */
  .header-section .header-medium_text {
    font-size: 26px;
    line-height: 1.2;
  }
}
/* line 44, ../sass/styles/pages/_landing.scss */
.header-section .header-big_text {
  font-size: 78px;
  text-transform: uppercase;
  font-weight: 900;
}
@media only screen and (max-width: 639px) {
  /* line 44, ../sass/styles/pages/_landing.scss */
  .header-section .header-big_text {
    font-size: 72px;
  }
}
/* line 54, ../sass/styles/pages/_landing.scss */
.header-section .header-logo {
  margin-top: 12px;
}
/* line 58, ../sass/styles/pages/_landing.scss */
.header-section .header-small_text {
  font-size: 24px;
  text-transform: uppercase;
}
@media only screen and (max-width: 639px) {
  /* line 58, ../sass/styles/pages/_landing.scss */
  .header-section .header-small_text {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* line 68, ../sass/styles/pages/_landing.scss */
.header-section .topic-forum {
  background: #31bc9f;
  display: inline-block;
  padding: 15px 80px;
  margin-top: 15px;
}
@media only screen and (max-width: 639px) {
  /* line 68, ../sass/styles/pages/_landing.scss */
  .header-section .topic-forum {
    padding: 12px 20px;
  }
}
/* line 78, ../sass/styles/pages/_landing.scss */
.header-section .topic-forum_title {
  font-size: 14px;
}
/* line 82, ../sass/styles/pages/_landing.scss */
.header-section .topic-forum_text {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 0;
}
@media only screen and (max-width: 639px) {
  /* line 82, ../sass/styles/pages/_landing.scss */
  .header-section .topic-forum_text {
    font-size: 18px;
  }
}
/* line 93, ../sass/styles/pages/_landing.scss */
.header-section .header-smallar_text {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 25px;
}
@media only screen and (max-width: 639px) {
  /* line 93, ../sass/styles/pages/_landing.scss */
  .header-section .header-smallar_text {
    font-size: 18px;
    line-height: 1.2;
  }
}
/* line 103, ../sass/styles/pages/_landing.scss */
.header-section .header-smallar_text img {
  vertical-align: middle;
  margin-top: -12px;
  margin-left: 15px;
}
@media only screen and (max-width: 639px) {
  /* line 103, ../sass/styles/pages/_landing.scss */
  .header-section .header-smallar_text img {
    margin-top: 0;
    display: block;
    margin: 15px auto 0;
  }
}
/* line 116, ../sass/styles/pages/_landing.scss */
.header-section .partners-forum {
  background: #fff;
  padding: 18px 0;
  margin-top: 40px;
}
/* line 122, ../sass/styles/pages/_landing.scss */
.header-section .partners-forum_title {
  font-size: 10px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 130, ../sass/styles/pages/_landing.scss */
.header-section .partners-forum .btn {
  margin-top: 25px;
}
@media only screen and (max-width: 991px) {
  /* line 130, ../sass/styles/pages/_landing.scss */
  .header-section .partners-forum .btn {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 130, ../sass/styles/pages/_landing.scss */
  .header-section .partners-forum .btn {
    margin-bottom: 20px;
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 148, ../sass/styles/pages/_landing.scss */
  .header-section .logos-group img {
    margin-left: 5px;
    margin-right: 5px;
    width: 44%;
  }
}

/* line 158, ../sass/styles/pages/_landing.scss */
.section-text {
  padding: 20px 0;
}

/* line 163, ../sass/styles/pages/_landing.scss */
.seciton-quote {
  background: #e40d14;
  padding: 30px 0 20px;
}
/* line 167, ../sass/styles/pages/_landing.scss */
.seciton-quote blockquote {
  font-style: italic;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  /* line 167, ../sass/styles/pages/_landing.scss */
  .seciton-quote blockquote {
    text-align: left;
  }
}
/* line 175, ../sass/styles/pages/_landing.scss */
.seciton-quote blockquote p {
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  /* line 175, ../sass/styles/pages/_landing.scss */
  .seciton-quote blockquote p {
    font-size: 14px;
  }
}
/* line 187, ../sass/styles/pages/_landing.scss */
.seciton-quote blockquote p:first-of-type {
  margin-top: 0;
}
/* line 191, ../sass/styles/pages/_landing.scss */
.seciton-quote blockquote p:last-of-type {
  margin-bottom: 0;
}
/* line 197, ../sass/styles/pages/_landing.scss */
.seciton-quote .right-info {
  width: 218px;
  text-align: right;
  color: #fff;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3;
}
@media only screen and (max-width: 767px) {
  /* line 197, ../sass/styles/pages/_landing.scss */
  .seciton-quote .right-info {
    margin-top: 20px;
    text-align: left;
  }
}
/* line 211, ../sass/styles/pages/_landing.scss */
.seciton-quote .partner-avatar {
  height: 240px;
  overflow: hidden;
}
/* line 215, ../sass/styles/pages/_landing.scss */
.seciton-quote .partner-avatar img {
  width: 100%;
}
/* line 220, ../sass/styles/pages/_landing.scss */
.seciton-quote .partner-prof {
  margin-top: 15px;
}

/* line 225, ../sass/styles/pages/_landing.scss */
.section-audience {
  padding-top: 55px;
}

/* line 229, ../sass/styles/pages/_landing.scss */
.section-events {
  padding-top: 60px;
}

/* line 236, ../sass/styles/pages/_landing.scss */
.section-speakers .speakers-list {
  margin-top: 35px;
}
/* line 239, ../sass/styles/pages/_landing.scss */
.section-speakers .speakers-list .speaker {
  margin-bottom: 60px;
}
/* line 242, ../sass/styles/pages/_landing.scss */
.section-speakers .speakers-list .speaker .main-list_item {
  padding-left: 15px;
  margin-left: 8px;
}
/* line 247, ../sass/styles/pages/_landing.scss */
.section-speakers .speakers-list .speaker p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 252, ../sass/styles/pages/_landing.scss */
.section-speakers .speakers-list .speaker .list-title {
  margin-top: 15px;
}
/* line 260, ../sass/styles/pages/_landing.scss */
.section-speakers .speaker-avatar {
  width: 127px;
  height: 127px;
  background-position: center 0;
}
@media only screen and (max-width: 639px) {
  /* line 260, ../sass/styles/pages/_landing.scss */
  .section-speakers .speaker-avatar {
    display: block;
  }
}
/* line 270, ../sass/styles/pages/_landing.scss */
.section-speakers .speaker-body {
  padding-left: 25px;
}
@media only screen and (max-width: 639px) {
  /* line 270, ../sass/styles/pages/_landing.scss */
  .section-speakers .speaker-body {
    display: block;
    padding-left: 0;
    margin-top: 20px;
    overflow: auto;
    width: 100%;
  }
}
/* line 281, ../sass/styles/pages/_landing.scss */
.section-speakers .speaker-body .speaker-name {
  text-transform: uppercase;
  font-weight: 700;
}

/* line 288, ../sass/styles/pages/_landing.scss */
.section-experts {
  padding: 35px 0;
}
/* line 291, ../sass/styles/pages/_landing.scss */
.section-experts p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
}
/* line 297, ../sass/styles/pages/_landing.scss */
.section-experts .experts-title {
  margin-top: 20px;
}
/* line 301, ../sass/styles/pages/_landing.scss */
.section-experts .main-list {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* line 305, ../sass/styles/pages/_landing.scss */
.section-experts .main-list .name {
  text-transform: uppercase;
  font-weight: 700;
}
/* line 311, ../sass/styles/pages/_landing.scss */
.section-experts .moderator {
  margin-top: 55px;
}
@media only screen and (max-width: 767px) {
  /* line 316, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .media-left {
    padding-right: 0;
    display: block;
  }
  /* line 321, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .moderator-avatar {
    width: 100%;
    overflow: hidden;
    display: block;
  }
  /* line 326, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .moderator-avatar img {
    max-width: 100%;
  }
}
/* line 332, ../sass/styles/pages/_landing.scss */
.section-experts .moderator .media-body {
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  /* line 332, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .media-body {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  /* line 339, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .media-body .moderator-info {
    margin-left: 0;
  }
}
/* line 345, ../sass/styles/pages/_landing.scss */
.section-experts .moderator .body-title {
  margin-top: -25px;
  margin-bottom: 15px;
  margin-left: 15px;
}
@media only screen and (max-width: 991px) {
  /* line 345, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .body-title {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 345, ../sass/styles/pages/_landing.scss */
  .section-experts .moderator .body-title {
    margin-left: 0;
    padding-left: 0;
  }
}
/* line 360, ../sass/styles/pages/_landing.scss */
.section-experts .moderator .moderator-info {
  background: #e40d14;
  padding: 10px 20px;
  margin-left: 25px;
}
/* line 365, ../sass/styles/pages/_landing.scss */
.section-experts .moderator .moderator-info p {
  color: #fff;
  padding: 0;
}

/* line 373, ../sass/styles/pages/_landing.scss */
.section-master {
  padding: 35px 0;
}
/* line 376, ../sass/styles/pages/_landing.scss */
.section-master .main-list {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* line 380, ../sass/styles/pages/_landing.scss */
.section-master .main-list .name {
  text-transform: uppercase;
  font-weight: 700;
}
/* line 386, ../sass/styles/pages/_landing.scss */
.section-master .registration {
  margin-top: 60px;
  background: #e40d14;
  font-size: 22px;
  color: #fff;
  line-height: 1.3;
  padding: 20px 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 386, ../sass/styles/pages/_landing.scss */
  .section-master .registration {
    font-size: 14px;
    padding: 15px;
  }
}
/* line 402, ../sass/styles/pages/_landing.scss */
.section-master .registration a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
/* line 407, ../sass/styles/pages/_landing.scss */
.section-master .registration a:hover {
  text-decoration: underline;
  color: #fff;
}

/* line 415, ../sass/styles/pages/_landing.scss */
.section-events_place {
  text-align: center;
  padding: 35px 0;
}
/* line 419, ../sass/styles/pages/_landing.scss */
.section-events_place p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 423, ../sass/styles/pages/_landing.scss */
.section-events_place p:first-of-type {
  margin-top: 25px;
}
/* line 428, ../sass/styles/pages/_landing.scss */
.section-events_place .gallery {
  margin-top: 25px;
}

/* line 434, ../sass/styles/pages/_landing.scss */
.section-reviews {
  padding: 35px 0;
}
/* line 437, ../sass/styles/pages/_landing.scss */
.section-reviews .reviews-wrap {
  text-align: center;
}
/* line 443, ../sass/styles/pages/_landing.scss */
.section-reviews .reviews-right .review:first-of-type {
  border-top-color: transparent;
}
/* line 448, ../sass/styles/pages/_landing.scss */
.section-reviews .review {
  border-top: 3px solid #e40d14;
  margin-top: 40px;
  text-align: left;
}
/* line 453, ../sass/styles/pages/_landing.scss */
.section-reviews .review blockquote {
  font-style: italic;
  line-height: 1.3;
  margin-top: 10px;
  font-weight: 300;
}
/* line 460, ../sass/styles/pages/_landing.scss */
.section-reviews .review .review-avtor {
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.3;
}

/* line 468, ../sass/styles/pages/_landing.scss */
.section-registration {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 0;
  background: #e40d14;
  text-align: center;
}

/* line 476, ../sass/styles/pages/_landing.scss */
.section-partners {
  padding: 0 0 30px;
  text-align: center;
}
/* line 480, ../sass/styles/pages/_landing.scss */
.section-partners_title {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 489, ../sass/styles/pages/_landing.scss */
  .section-partners .logos-container {
    overflow: hidden;
  }
}
/* line 495, ../sass/styles/pages/_landing.scss */
.section-partners .logos-container a {
  outline: none;
  text-decoration: none;
}
/* line 500, ../sass/styles/pages/_landing.scss */
.section-partners .logos-container img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  outline: none;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  /* line 500, ../sass/styles/pages/_landing.scss */
  .section-partners .logos-container img {
    margin: 2px;
    max-width: 100%;
  }
}
/* line 517, ../sass/styles/pages/_landing.scss */
.section-partners .logos-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 521, ../sass/styles/pages/_landing.scss */
.section-partners .logos-group img {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 526, ../sass/styles/pages/_landing.scss */
.section-partners .logos-group .about-partners {
  margin-right: 25px;
}
@media only screen and (max-width: 767px) {
  /* line 526, ../sass/styles/pages/_landing.scss */
  .section-partners .logos-group .about-partners {
    margin-right: 5px;
  }
}
