
.logos-group {
  display: inline-block;
  vertical-align: middle;

  img {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;

    @media #{$mobile} {
      width: auto;
    }
  }

  .about-partners {
    font-size: 10px;
    margin-top: 10px;
    margin-right: 15px;
    color: #000;
    font-weight: 400;
    text-align: right;
  }
}
.header-section {
  background: url(../img/header-bg.jpg) no-repeat;
  @include background-size(cover);
  text-align: center;
  padding: 30px 0 35px;
  font-weight: 300;
  color: #fff;
  font-family: $helvetica;

  .header-medium_text {
    font-size: 30px;
    text-transform: uppercase;

    @media #{$mobile640} {
      font-size: 26px;
      line-height: 1.2;
    }
  }

  .header-big_text {
    font-size: 78px;
    text-transform: uppercase;
    font-weight: 900;

    @media #{$mobile640} {
      font-size: 72px;
    }
  }

  .header-logo {
    margin-top: 12px;
  }

  .header-small_text {
    font-size: 24px;
    text-transform: uppercase;

    @media #{$mobile640} {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .topic-forum {
    background: #31bc9f;
    display: inline-block;
    padding: 15px 80px;
    margin-top: 15px;

    @media #{$mobile640} {
      padding: 12px 20px;
    }

    &_title {
      font-size: 14px;
    }

    &_text {
      font-size: 24px;
      margin-top: 7px;
      margin-bottom: 0;

      @media #{$mobile640} {
        font-size: 18px;
      }
    }
  }

  .header-smallar_text {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 25px;

    @media #{$mobile640} {
      font-size: 18px;
      line-height: 1.2;
    }

    img {
      vertical-align: middle;
      margin-top: -12px;
      margin-left: 15px;

      @media #{$mobile640} {
        margin-top: 0;
        display: block;
        margin: 15px auto 0;
      }
    }
  }

  .partners-forum {
    background: #fff;
    padding: 18px 0;
    margin-top: 40px;


    &_title {
      font-size: 10px;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .btn {
      margin-top: 25px;

      @media #{$tablet} {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }

      @media #{$mobile} {
        margin-bottom: 20px;
        width: auto;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }

  .logos-group img {
    @media #{$tablet} {
      margin-left: 5px;
      margin-right: 5px;
      width: 44%;
    }
  }
}


.section-text {
  padding: 20px 0;
}


.seciton-quote {
  background: #e40d14;
  padding: 30px 0 20px;

  blockquote {
    font-style: italic;
    text-align: right;

    @media #{$mobile} {
      text-align: left;
    }

    p {
      font-weight: 300;
      color: #fff;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;

      @media #{$mobile} {
        font-size: 14px;
      }


      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .right-info {
    width: 218px;
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;

    @media #{$mobile} {
      margin-top: 20px;
      text-align: left;
    }
  }

  .partner-avatar {
    height: 240px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .partner-prof {
    margin-top: 15px;
  }
}

.section-audience {
  padding-top: 55px;
}

.section-events {
  padding-top: 60px;
}


.section-speakers {

  .speakers-list {
    margin-top: 35px;

    .speaker {
      margin-bottom: 60px;

      .main-list_item {
        padding-left: 15px;
        margin-left: 8px;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      .list-title {
        margin-top: 15px;
      }


    }
  }

  .speaker-avatar {
    width: 127px;
    height: 127px;
    background-position: center 0;

    @media #{$mobile640} {
      display: block;    
    }
  }

  .speaker-body {
    padding-left: 25px;

    @media #{$mobile640} {
      display: block;
      padding-left: 0;
      margin-top: 20px;
      overflow: auto;
      width: 100%;
    }

    .speaker-name {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.section-experts {
  padding: 35px 0;

  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25px;
  }

  .experts-title {
    margin-top: 20px;
  }

  .main-list {
    margin-top: 20px;
    margin-bottom: 40px;

    .name {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .moderator {
    margin-top: 55px;

    @media #{$mobile} {

      .media-left {
        padding-right: 0;
        display: block;
      }

      .moderator-avatar {
        width: 100%;
        overflow: hidden;
        display: block;

        img {
          max-width: 100%;
        }
      }
    }

    .media-body {
      vertical-align: middle;

      @media #{$mobile} {
        display: block;
        margin-top: 20px;
        width: 100%;
        .moderator-info {
          margin-left: 0;
        }
      }
    }
    
    .body-title {
      margin-top: -25px;
      margin-bottom: 15px;
      margin-left: 15px;

      @media #{$tablet} {
        margin-top: 0;
      }

      @media #{$mobile} {
        margin-left: 0;
        padding-left: 0;
      }
    }

    .moderator-info {
      background: #e40d14;
      padding: 10px 20px;
      margin-left: 25px;

      p {
        color: #fff;
        padding: 0;
      }
    }
  }
}

.section-master {
  padding: 35px 0;

  .main-list {
    margin-top: 20px;
    margin-bottom: 40px;

    .name {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .registration {
    margin-top: 60px;
    background: #e40d14;
    font-size: 22px;
    color: #fff;
    line-height: 1.3;
    padding: 20px 50px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    @media #{$mobile} {
      font-size: 14px;
      padding: 15px;
    }

    a {
      font-weight: 500;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

.section-events_place {
  text-align: center;
  padding: 35px 0;

  p {
    margin-top: 0;
    margin-bottom: 0;

    &:first-of-type {
      margin-top: 25px;
    }
  }

  .gallery {
    margin-top: 25px;
  }
}


.section-reviews {
  padding: 35px 0;

  .reviews-wrap {
    text-align: center;
  }

  .reviews-right {

    .review:first-of-type {
      border-top-color: transparent;
    }
  }

  .review {
    border-top: 3px solid #e40d14;
    margin-top: 40px;
    text-align: left;

    blockquote {
      font-style: italic;
      line-height: 1.3;
      margin-top: 10px;
      font-weight: 300;
    }

    .review-avtor {
      font-weight: 500;
      margin-top: 20px;
      line-height: 1.3;
    }
  }
}

.section-registration {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 0;
  background: #e40d14;
  text-align: center;
}

.section-partners {
  padding: 0 0 30px;
  text-align: center;

  &_title {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 50px;
  }

  .logos-container {

    @media #{$mobile} {
      overflow: hidden;
    }

    a {
      outline: none;
      text-decoration: none;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 25px;
      margin-right: 25px;
      outline: none;
      text-decoration: none;

      @media #{$mobile} {
        margin: 2px;
        max-width: 100%;
      }
    }
  }

  .logos-group {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      margin-top: 0;
      margin-bottom: 0;
    }

    .about-partners {
      margin-right: 25px;

      @media #{$mobile} {
        margin-right: 5px;
      }
    }
  }
}