@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,300italic,300,500italic,500,400italic,700italic);
body {
  font-size: 16px;
  color: $text-color;
  font-family: 'Ubuntu', sans-serif;

  @media #{$mobile} {
    font-size: 14px;
  }
}


.main-title {
  background: #e40d14;

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  span {
    display: inline-block;
    background: #fff;
    color: #e40d14;
    text-transform: uppercase;
    padding: 0 30px;
    font-weight: 500;
    line-height: 1.3;

    @media #{$mobile} {
      padding: 0 15px;
    }
  }

  b {
    font-weight: 700;
  }
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.3;

  @media #{$mobile480} {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bolder {
    font-weight: 700;
  }

  .upper {
    text-transform: uppercase;
  }

  .new-line {
    display: block;
  }

  .red {
    color: #e40d14;
  }
}

.btn {
  font-weight: 300;
  border: none;
  @include border-radius(9px);
  background: #fff;
  text-align: center;
  text-decoration: none;
  @include transition(all, .2s, linear);
  text-transform: uppercase;

  &-58 {
    font-size: 22px;
    padding: 14px 45px 13px;
    background: red;
  }

  &-red {
    background: #ca112b;
    color: #fff;

    &:hover {
      color: #fff;
      background: darken(#ca112b, 5%);
    }
  }

  &-white {
    background: #fff;
    color: #e40d14;

    &:hover {
      color: darken(#ca112b, 5%);
    }
  }
}

.gallery {
  text-align: center;

  @media #{$mobile} {
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  img {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.main-list {

  &_item {
    font-weight: 400;
    line-height: 1.3;
    position: relative;
    padding-left: 25px;

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      background: #e40d14;
      display: block;
      position: absolute;
      left: 0;
      top: 7px;
      @include border-radius(50%);
    }
  }
}

.btn-download {
  width: 365px;
  height: 88px;
  background: url(../img/btn-bg.jpg) no-repeat;
  background-position: center;
  @include border-radius(10px);
  display: inline-block;
  padding: 25px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.3;
  margin-top: 70px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  @media #{$tablet} {
    width: 290px;
  }

  @media #{$mobile320} {
    width: 100%;
  }
}

.container {
  min-width: 320px;
}