$text-color: #595651;

$helvetica: Helvetica;

$desktop: "only screen and (max-width : 1199px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";
$mobile640: "only screen and (max-width : 639px)";
$mobile480: "only screen and (max-width : 479px)";
$mobile320: "only screen and (max-width : 320px)";


